<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- 括号内参数要至少写一个，参数表示如下所示，参数权重值>键>索引 -->
			<!-- 1.遍历数组 -->
			<ul>
				<li v-for="(item,index) in arr" key="item">{{index+1}}.{{item}}</li>  <!-- key的作用是为了更高效更新虚拟DOM ,要有唯一性-->
			</ul>
			<!-- 2.遍历对象 -->
			<ul>
				<li v-for="(value,key,index) in cyj">{{key}}:{{value}}——{{index}}</li>
			</ul>
		</div>
		<script>
			const app=new Vue({
				el:'#app',   
				data:{     
					arr:["jordan","kobe","curry","james"],
					cyj:{
						age:21,
						height:170,
						gf:"lq"
					}
				},
				methods:{
					
				}
			})
		</script>
	</body>
</html>
