<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- 1.checkbox单选框 -->
			<label for="agree">
				<input type="checkbox" id="agree" v-model="isAgree">同意协议
			</label>
			<h2>您选择的是：{{isAgree}}</h2>
			<button :disabled="!isAgree">下一步</button>
			<br>
			<!-- 2.checkbox多选框 -->
			<input type="checkbox" value="唱" v-model="hobbies">唱
			<input type="checkbox" value="跳" v-model="hobbies">跳
			<input type="checkbox" value="rap" v-model="hobbies">rap
			<input type="checkbox" value="篮球" v-model="hobbies">篮球
			<h2>您的爱好是：{{hobbies}}</h2>
			<!-- 3.动态值绑定 -->
			<label v-for="(value,index) in originhobbies" :for="index">
				<input type="checkbox" :value="value" :id="index" v-model="hobbies">{{value}}   <!-- 动态绑定value和id -->
			</label>
		</div>
		<script>
			const app=new Vue({
				el:'#app',   
				data:{     
					isAgree:false,
					hobbies:[],
					originhobbies:["篮球","足球","羽毛球","乒乓球","台球"]
				},
				methods:{
					
				}
			})
		</script>
	</body>
</html>
