<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- 1.只能选择一个 -->
			<select name="" id="" v-model="fruit">
				<option value="香蕉">香蕉</option>
				<option value="苹果">苹果</option>
				<option value="梨子">梨子</option>
				<option value="榴莲">榴莲</option>
			</select>
			<h2>您选择的水果是：{{fruit}}</h2>
			<!-- 2.可以选择多个 -->
			<select name="" id="" v-model="fruits" multiple>
				<option value="香蕉">香蕉</option>
				<option value="苹果">苹果</option>
				<option value="梨子">梨子</option>
				<option value="榴莲">榴莲</option>
			</select>
			<h2>您选择的水果有：{{fruits}}</h2>
		</div>
		<script>
			const app=new Vue({
				el:'#app',   
				data:{     
					fruit:"香蕉",
					fruits:[]
				},
				methods:{
					
				}
			})
		</script>
	</body>
</html>
